# Rakuten USA - Data Engineering Test

### Goal
The goal of this test is not ment to be exhaustive, but we do want to test your skills in analytical thinking, SQL, data wrangling, data analysis, and data visualization.

### Expectations
You can expect this test to use the following technologies:
- Python3
- Jupyter Notebook
- PySpark
- PySpark SQL

This test will cover the following areas: 
- Data cleaning/wrangling
- Exploratory Data Analysis (EDA)
- Data Visualization (Bonus)
- Lessons learned

This test should take you no more than 2-4 hours.

### What do you need to turn in, and what should I turn in?
Please email stirling.waite@rakuten with your finished notebook
- rakuten_engineering_test.ipynb
 
### Questions?
Feel free to email me or call me with any questions about this test
- stirling.waite@rakuten.com
- 801-856-1426

# About The Dataset

Below you will find a free Kaggle competition dataset from https://www.kaggle.com/mayank811/employee-reviews/data using scraped data from Glassdoor.com.

## Context
- Over 67k employee reviews for Google, Amazon, Facebook, Apple, Microsoft, and Netflix.
- Web scraped from Glassdoor

## Content
This dataset contains employee reviews separated into the following categories:

- **Index:** index
- **Company:** Company name
- **Location:** This dataset is global, as such it may include the country's name in parenthesis [i.e "Toronto, ON(Canada)"]. However, if the location is in the USA then it will only include the city and state[i.e "Los Angeles, CA" ]
- **Date Posted:** in the following format MM DD, YYYY
- **Job-Title:** This string will also include whether the reviewer is a 'Current' or 'Former' Employee at the time of the review
- **Summary:** Short summary of employee review
- **Pros:** Pros
- **Cons:** Cons
- **Overall Rating:** 1-5
- **Work/Life Balance Rating:** 1-5
- **Culture and Values Rating:** 1-5
- **Career Opportunities Rating:** 1-5
- **Comp & Benefits Rating:** 1-5
- **Senior Management Rating:** 1-5
- **Helpful Review Count:** 1-5

**Link to Review:** This will provide you with a direct link to the page that contains the review. However it is likely that this link will be outdated

**NOTE:** 'none' is placed in all cells where no data value was found.

# PySpark Initialization

In [1]:
import re
import pyspark
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import *
from pyspark.sql import functions as fn
from pyspark.sql import types as t
from pyspark.sql.types import *
from datetime import datetime

In [2]:
conf = SparkConf()\
                .setMaster("local[*]")\
                .setAppName("rakutenHomework")
        
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")
sqlContext = SQLContext(sc)
spark = SparkSession.builder.appName("spark play").getOrCreate()

## Read Dataset into Spark

In [40]:
reviews_df = spark.read.csv("employee_reviews_usa.csv", header=True, mode="DROPMALFORMED", inferSchema='true', encoding="utf-8")
print(reviews_df.count())
reviews_df.show()

27779
+---+-------+-----------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------------+--------------------+
|_c0|company|         location|        dates|           job_title|             summary|                pros|                cons|      advice_to_mgmt|overall_ratings|work_balance_stars|culture_values_stars|carrer_opportunities_stars|comp_benefit_stars|senior_mangemnet_stars|helpful_count|                link|
+---+-------+-----------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------------+--------------------+
|  0| google|Mountain View, CA|  Feb 8, 2015|Current Employee ...|The best place I'...|You can't find a ...|I live in SF so t...|Keep on NOT micro...|            5.0|               2.0|                 5.0|                       5.0|               4.0|                   5.0|          498|https://www.glass...|
|  1| google|Mountain View, CA|  Dec 9, 2018|Former Employee -...|NICE working in G...|People are not th...|Food is not good ...|                none|            5.0|               4.0|                 4.0|                       4.0|               5.0|                   4.0|            1|https://www.glass...|
|  2| google|     New York, NY| Dec 11, 2018|Current Employee ...|   Software engineer|Great working env...|Usual big company...|                none|            5.0|               5.0|                 4.0|                       4.0|               5.0|                   4.0|            0|https://www.glass...|
|  3| google|     New York, NY| Dec 10, 2018|Current Employee ...|Google Surpasses ...|Great products. V...|Younger employees...|                none|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            0|https://www.glass...|
|  4| google|Mountain View, CA|  Dec 8, 2018|Current Employee ...|  Nice place to work|* Smart people * ...|Giant company wit...|                none|            5.0|               4.0|                 5.0|                       4.0|               4.0|                   3.0|            0|https://www.glass...|
|  5| google|San Francisco, CA|  Dec 3, 2018|Current Employee ...|Still the best pl...|Amazing company. ...|Size, which limit...|                none|            5.0|               5.0|                 5.0|                       5.0|               4.0|                   4.0|            1|https://www.glass...|
|  6| google|     New York, NY| Nov 26, 2018|Current Employee ...|Great, but great ...|Great team and su...|Lots of bureaucra...|                none|            5.0|               3.0|                 4.0|                       3.0|               4.0|                   5.0|            2|https://www.glass...|
|  7| google|  Los Angeles, CA| Nov 29, 2018|Current Employee ...|          Accountant|I like and learne...|High clerical wor...|Management and Fi...|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            0|https://www.glass...|
|  8| google|San Francisco, CA| Nov 17, 2018|Current Employee ...|Not perfect, but ...|- A company cultu...|- A company with ...|- Just because a ...|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            3|https://www.glass...|
|  9| google|Mountain View, CA|  Dec 9, 2018|Former Employee -...|     Senior Director|So many brilliant...|Becoming highly b...|                none|            3.0|               4.0|                 5.0|                       5.0|               5.0|                   5.0|            0|https://www.glass...|
| 10| google|Mountain View, CA|  Dec 8, 2018|Current Employee ...|Google is still t...|Great place to wo...|Large company iss...|                none|            4.0|               5.0|                 5.0|                       4.0|               4.0|                   4.0|            0|https://www.glass...|
| 11| google|     Dearborn, MI| Nov 20, 2018|Current Employee ...|              Google|Google is one of ...|You have to work ...|                none|            5.0|               3.0|                 4.0|                       4.0|               5.0|                   4.0|            1|https://www.glass...|
| 12| google|     New York, NY|  Dec 6, 2018|Current Employee ...|   Good compensation|Better than avera...|Big and beurocrat...|                none|            4.0|               4.0|                 3.0|                       3.0|               4.0|                   3.0|            0|https://www.glass...|
| 13| google|    Sunnyvale, CA| Nov 21, 2018|Current Employee ...|    Best of the best|The best company ...|Set hours for bre...|                none|            5.0|               3.0|                 5.0|                       5.0|               5.0|                   4.0|            0|https://www.glass...|
| 14| google|      Seattle, WA| Nov 13, 2018|Current Employee ...|        Hard to beat|Amazing compensat...|Growing pains as ...|                none|            5.0|               4.0|                 4.0|                       5.0|               5.0|                   3.0|            2|https://www.glass...|
| 15| google|     New York, NY| Nov 19, 2018|Current Employee ...| Great place to work|Ambitious mission...|Everyone is eager...|                none|            5.0|               5.0|                 3.0|                       5.0|               4.0|                   5.0|            0|https://www.glass...|
| 16| google|    Sunnyvale, CA| Nov 19, 2018|Current Employee ...|Positive Experiences|Good opportunitie...|Difficult to adva...|                none|            5.0|               5.0|                 5.0|                       4.0|               4.0|                   4.0|            0|https://www.glass...|
| 17| google|    Ann Arbor, MI| Nov 19, 2018|Former Employee -...|Make sure you kno...|Employees, food, ...|Company has becom...|Stop putting peop...|            5.0|               4.0|                 4.0|                       5.0|               5.0|                   2.0|            0|https://www.glass...|
| 18| google|Mountain View, CA| Nov 16, 2018|Current Employee ...|                 meh|Pays really well ...|Google wants 60-h...|Add ethics to the...|            3.0|               2.0|                 1.0|                       2.0|               5.0|                   2.0|            8|https://www.glass...|
| 19| google|Mountain View, CA|  Nov 9, 2018|Current Employee ...| Best Job I Ever Had|Amazing and talen...|All the perks mak...|                none|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            1|https://www.glass...|
+---+-------+-----------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------------+--------------------+
only showing top 20 rows

# Data Cleaning & Removing Un-Needed Columns

No one likes dirty data.  Let's clean up this dataset to make it more usable for our use case.

 
1. Make the date field more data friendly
    - Hint #1: Use the provided `review_date_udf` udf provided (it will make your life more simple) 
2. Using the "location" column 
    - Add new columns for city, state, country columns
        - Hint #1: If location is not in US it will show as Toronto, ON(Canada)
        - Hint #2: Use something like the following to input the `country` column
            - ```lit("US").alias("country")```
3. Using the "job-title" column  
    - Add a new boolean column titled "current_employee" that will show:
        - 1,  if reviewer is a current employee
        - 0,  if reviewer is not a current employee
    - Remove "Former Employee - " and "" from the "job-title" column
        - Hint: Use the udf function `reg_job_title_udf`
4. Drop un-needed columns 
    - "_c0", "link", "pros", "cons", "advice-to-mgmt", "summary", "location"

##### Useful UDF functions needed for below

In [43]:
review_date_udf = fn.udf(
    lambda x: datetime.strptime(x, ' %b %d, %Y'), DateType()
)

In [44]:
def reg_job_title(column):
    res_split=[]
    reg_patterns=["Former Employee - / ", "Current Employee - / "]
    for i in range(len(reg_patterns)):
        res_split=re.findall(r"[^/]+",reg_patterns[i])
        for x in res_split[0].split("|"):
            column = column.replace(x,res_split[1])
    return column[1:]

reg_job_title_udf = fn.udf(reg_job_title, t.StringType())

In [54]:
cleaned_reviews_df = reviews_df.where((col("dates") != 'None') & (col("dates") != ' Jan 0, 0000') & (col("dates") != ' Nov 0, 0000') & (~col("location").contains("(")) & (col("location") != "none")) \
                         .select(
                             col("company")
                         )

cleaned_reviews_df.show()

+-------+-------------+-----+-------+-----------+--------------------+----------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------------+
|company|         city|state|country|review_date|           job_title|current_employee|overall_ratings|work_balance_stars|culture_values_stars|carrer_opportunities_stars|comp_benefit_stars|senior_mangemnet_stars|helpful_count|
+-------+-------------+-----+-------+-----------+--------------------+----------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------------+
| google|Mountain View|   CA|     US| 2015-02-08|  Anonymous Employee|               1|            5.0|               2.0|                 5.0|                       5.0|               4.0|                   5.0|          498|
| google|Mountain View|   CA|     US| 2018-12-09|                SDE2|               0|            5.0|               4.0|                 4.0|                       4.0|               5.0|                   4.0|            1|
| google|     New York|   NY|     US| 2018-12-11|   Software Engineer|               1|            5.0|               5.0|                 4.0|                       4.0|               5.0|                   4.0|            0|
| google|     New York|   NY|     US| 2018-12-10|  Anonymous Employee|               1|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            0|
| google|Mountain View|   CA|     US| 2018-12-08|  Anonymous Employee|               1|            5.0|               4.0|                 5.0|                       4.0|               4.0|                   3.0|            0|
| google|San Francisco|   CA|     US| 2018-12-03|Sales Operations ...|               1|            5.0|               5.0|                 5.0|                       5.0|               4.0|                   4.0|            1|
| google|     New York|   NY|     US| 2018-11-26|            Designer|               1|            5.0|               3.0|                 4.0|                       3.0|               4.0|                   5.0|            2|
| google|  Los Angeles|   CA|     US| 2018-11-29|    Staff Accountant|               1|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            0|
| google|San Francisco|   CA|     US| 2018-11-17|   Program Manager I|               1|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            3|
| google|Mountain View|   CA|     US| 2018-12-09|     Senior Director|               0|            3.0|               4.0|                 5.0|                       5.0|               5.0|                   5.0|            0|
| google|Mountain View|   CA|     US| 2018-12-08|Software Engineer...|               1|            4.0|               5.0|                 5.0|                       4.0|               4.0|                   4.0|            0|
| google|     Dearborn|   MI|     US| 2018-11-20|   Google Specialist|               1|            5.0|               3.0|                 4.0|                       4.0|               5.0|                   4.0|            1|
| google|     New York|   NY|     US| 2018-12-06|  Anonymous Employee|               1|            4.0|               4.0|                 3.0|                       3.0|               4.0|                   3.0|            0|
| google|    Sunnyvale|   CA|     US| 2018-11-21|  Anonymous Employee|               1|            5.0|               3.0|                 5.0|                       5.0|               5.0|                   4.0|            0|
| google|      Seattle|   WA|     US| 2018-11-13|Staff Software En...|               1|            5.0|               4.0|                 4.0|                       5.0|               5.0|                   3.0|            2|
| google|     New York|   NY|     US| 2018-11-19|     Program Manager|               1|            5.0|               5.0|                 3.0|                       5.0|               4.0|                   5.0|            0|
| google|    Sunnyvale|   CA|     US| 2018-11-19|   Software Engineer|               1|            5.0|               5.0|                 5.0|                       4.0|               4.0|                   4.0|            0|
| google|    Ann Arbor|   MI|     US| 2018-11-19|Associate Account...|               0|            5.0|               4.0|                 4.0|                       5.0|               5.0|                   2.0|            0|
| google|Mountain View|   CA|     US| 2018-11-16|  Anonymous Employee|               1|            3.0|               2.0|                 1.0|                       2.0|               5.0|                   2.0|            8|
| google|Mountain View|   CA|     US| 2018-11-09|   Software Engineer|               1|            5.0|               5.0|                 5.0|                       5.0|               5.0|                   5.0|            1|
+-------+-------------+-----+-------+-----------+--------------------+----------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------------+
only showing top 20 rows

# Testing Questions

Each question below will have two parts.   Please solve each problem in PySpark and PySpark SQL.  This is to test your ability to solve the problem in PySpark, and to test your ability to solve the problem in SQL.

- PySpark API: https://spark.apache.org/docs/latest/api/python/index.html
- PySpark SQL API: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html

In [61]:
cleaned_reviews_df.createOrReplaceTempView("reviews")

### (1) What is the total number of reviews in the data set?

##### PySpark Implmentation

In [47]:
cleaned_reviews_df.count()

27779

##### Spark SQL Implmentation

In [48]:
spark.sql("SELECT count(*) as review_count from reviews").show()

+------------+
|review_count|
+------------+
|       27779|
+------------+

###  (2) How many reviews exist in the dataset per each company?

##### PySpark Implmentation

##### Spark SQL Implmentation

###  (3) How many reviews are from former and current employees per each company?

##### PySpark Implmentation

##### Spark SQL Implmentation

###  (4) What is the average review scores of each current and former employees for each company?

##### PySpark Implmentation

##### Spark SQL Implmentation

###  (5) Show the following in one solution:
1. Get all the former Google employee reviewers in locations Seattle, San Francisco, or Utah

- Also, get the count and average work_balance_score for reviews in #1

##### PySpark Implmentation

##### Spark SQL Implmentation

# Visualize Your Data (Bonus Points)
1. Turn your Spark dataframe into a Pandas dataframe
2. Answer the visualization questions with any of the following libraries:
    - Matplotlib
    - Seaborn
    - Bookeh

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

In [21]:
reviews_pd_df = cleaned_reviews_df.toPandas()
print(reviews_pd_df)

         company           city state country review_date  \
0         google  Mountain View    CA      US  2015-02-08
1         google  Mountain View    CA      US  2018-12-09
2         google       New York    NY      US  2018-12-11
3         google       New York    NY      US  2018-12-10
4         google  Mountain View    CA      US  2018-12-08
5         google  San Francisco    CA      US  2018-12-03
6         google       New York    NY      US  2018-11-26
7         google    Los Angeles    CA      US  2018-11-29
8         google  San Francisco    CA      US  2018-11-17
9         google  Mountain View    CA      US  2018-12-09
10        google  Mountain View    CA      US  2018-12-08
11        google       Dearborn    MI      US  2018-11-20
12        google       New York    NY      US  2018-12-06
13        google      Sunnyvale    CA      US  2018-11-21
14        google        Seattle    WA      US  2018-11-13
15        google       New York    NY      US  2018-11-19
16        google      Sunnyvale    CA      US  2018-11-19
17        google      Ann Arbor    MI      US  2018-11-19
18        google  Mountain View    CA      US  2018-11-16
19        google  Mountain View    CA      US  2018-11-09
20        google       New York    NY      US  2018-11-05
21        google  Mountain View    CA      US  2018-11-19
22        google  Mountain View    CA      US  2018-11-01
23        google  San Francisco    CA      US  2018-11-04
24        google  Mountain View    CA      US  2018-11-02
25        google     Pittsburgh    PA      US  2018-11-01
26        google  Mountain View    CA      US  2018-11-10
27        google  Mountain View    CA      US  2018-10-21
28        google       New York    NY      US  2018-10-25
29        google        Boulder    CO      US  2018-10-25
...          ...            ...   ...     ...         ...
27749  microsoft          Fargo    ND      US  2008-05-02
27750  microsoft        Redmond    WA      US  2008-04-20
27751  microsoft        Redmond    WA      US  2008-04-21
27752  microsoft        Redmond    WA      US  2008-04-19
27753  microsoft        Atlanta    GA      US  2008-04-18
27754  microsoft        Redmond    WA      US  2008-04-28
27755  microsoft        Redmond    WA      US  2008-04-20
27756  microsoft        Redmond    WA      US  2008-05-03
27757  microsoft        Redmond    WA      US  2008-04-19
27758  microsoft        Redmond    WA      US  2008-05-01
27759  microsoft        Redmond    WA      US  2008-04-18
27760  microsoft        Redmond    WA      US  2008-05-03
27761  microsoft        Redmond    WA      US  2008-05-03
27762  microsoft        Redmond    WA      US  2008-04-25
27763  microsoft        Redmond    WA      US  2008-04-24
27764  microsoft        Redmond    WA      US  2008-04-24
27765  microsoft        Redmond    WA      US  2008-04-26
27766  microsoft          Fargo    ND      US  2008-04-24
27767  microsoft        Redmond    WA      US  2008-04-24
27768  microsoft        Redmond    WA      US  2008-04-24
27769  microsoft       Bellevue    WA      US  2008-04-20
27770  microsoft        Redmond    WA      US  2008-04-19
27771  microsoft      Charlotte    NC      US  2008-04-21
27772  microsoft        Redmond    WA      US  2008-04-26
27773  microsoft        Waltham    MA      US  2008-04-19
27774  microsoft  San Francisco    CA      US  2008-04-16
27775  microsoft  San Francisco    CA      US  2008-03-24
27776  microsoft  San Francisco    CA      US  2008-04-03
27777  microsoft  San Francisco    CA      US  2008-02-27
27778  microsoft  San Francisco    CA      US  2008-02-27

                                          job_title  current_employee  \
0                                Anonymous Employee                 1
1                                              SDE2                 0
2                                 Software Engineer                 1
3                                Anonymous Employee                 1
4                                Anonymous Employee                 1
5                          Sales Operations Analyst                 1
6                                          Designer                 1
7                                  Staff Accountant                 1
8                                 Program Manager I                 1
9                                   Senior Director                 0
10                     Software Engineering Manager                 1
11                                Google Specialist                 1
12                               Anonymous Employee                 1
13                               Anonymous Employee                 1
14                          Staff Software Engineer                 1
15                                  Program Manager                 1
16                                Software Engineer                 1
17                     Associate Account Strategist                 0
18                               Anonymous Employee                 1
19                                Software Engineer                 1
20                               Anonymous Employee                 0
21                                 Legal Specialist                 0
22                               Anonymous Employee                 1
23                        Product Marketing Manager                 1
24                                Software Engineer                 1
25                               Front End Engineer                 1
26                         Senior Software Engineer                 1
27                                            Video                 1
28                         Senior Software Engineer                 1
29                                Product Marketing                 1
...                                             ...               ...
27749                               Product Manager                 1
27750                            Programming Writer                 0
27751  Software Development Engineer In Test (SDET)                 1
27752           Principal Development Engineer Lead                 1
27753                                    Consultant                 1
27754                              Industry Manager                 0
27755                               Program Manager                 1
27756          Senior Software Development Engineer                 1
27757                               General Manager                 1
27758                               Program Manager                 0
27759                               Project Manager                 1
27760                 Software Development Engineer                 1
27761                 Software Development Engineer                 1
27762                    User Experience Researcher                 0
27763                 Software Development Engineer                 0
27764                                        Editor                 1
27765                 Software Development Engineer                 1
27766                               Project Manager                 1
27767                          Lead Program Manager                 1
27768                               Product Manager                 1
27769                                 Group Manager                 0
27770                               Program Manager                 1
27771                                 Federal Sales                 1
27772  Software Development Engineer In Test (SDET)                 1
27773    Senior Account Technology Specialist (ATS)                 1
27774                        Premier Field Engineer                 1
27775                 Software Development Engineer                 1
27776                        Senior Product Manager                 1
27777                             Account Executive                 1
27778                     Technical Account Manager                 1

      overall_ratings work_balance_stars culture_values_stars  \
0                 5.0                2.0                  5.0
1                 5.0                4.0                  4.0
2                 5.0                5.0                  4.0
3                 5.0                5.0                  5.0
4                 5.0                4.0                  5.0
5                 5.0                5.0                  5.0
6                 5.0                3.0                  4.0
7                 5.0                5.0                  5.0
8                 5.0                5.0                  5.0
9                 3.0                4.0                  5.0
10                4.0                5.0                  5.0
11                5.0                3.0                  4.0
12                4.0                4.0                  3.0
13                5.0                3.0                  5.0
14                5.0                4.0                  4.0
15                5.0                5.0                  3.0
16                5.0                5.0                  5.0
17                5.0                4.0                  4.0
18                3.0                2.0                  1.0
19                5.0                5.0                  5.0
20                5.0                2.0                  2.0
21                4.0                5.0                  5.0
22                5.0                5.0                  3.0
23                5.0                4.0                  5.0
24                5.0                5.0                  5.0
25                5.0                4.0                  5.0
26                4.0                5.0                  4.0
27                5.0                4.0                  5.0
28                5.0                5.0                  5.0
29                5.0                3.0                  3.0
...               ...                ...                  ...
27749             5.0                4.0                 none
27750             5.0                5.0                 none
27751             5.0                5.0                 none
27752             5.0                5.0                 none
27753             5.0                5.0                 none
27754             2.0                2.5                 none
27755             5.0                5.0                 none
27756             4.0                5.0                 none
27757             5.0                5.0                 none
27758             4.0                4.0                 none
27759             5.0                5.0                 none
27760             4.0                4.0                 none
27761             4.0                4.0                 none
27762             3.0                3.5                 none
27763             2.0                3.5                 none
27764             3.0                3.5                 none
27765             4.0                4.0                 none
27766             3.0                5.0                 none
27767             4.0                4.5                 none
27768             4.0                4.0                 none
27769             2.0                4.0                 none
27770             3.0                3.5                 none
27771             4.0                3.0                 none
27772             4.0                4.0                 none
27773             2.0                1.5                 none
27774             4.0                3.5                 none
27775             5.0                4.5                 none
27776             3.0                4.0                 none
27777             5.0                4.5                 none
27778             5.0                5.0                 none

      carrer_opportunities_stars comp_benefit_stars senior_mangemnet_stars  \
0                            5.0                4.0                    5.0
1                            4.0                5.0                    4.0
2                            4.0                5.0                    4.0
3                            5.0                5.0                    5.0
4                            4.0                4.0                    3.0
5                            5.0                4.0                    4.0
6                            3.0                4.0                    5.0
7                            5.0                5.0                    5.0
8                            5.0                5.0                    5.0
9                            5.0                5.0                    5.0
10                           4.0                4.0                    4.0
11                           4.0                5.0                    4.0
12                           3.0                4.0                    3.0
13                           5.0                5.0                    4.0
14                           5.0                5.0                    3.0
15                           5.0                4.0                    5.0
16                           4.0                4.0                    4.0
17                           5.0                5.0                    2.0
18                           2.0                5.0                    2.0
19                           5.0                5.0                    5.0
20                           4.0                4.0                    3.0
21                           3.0                5.0                    4.0
22                           5.0                5.0                    4.0
23                           5.0                5.0                    4.0
24                           5.0                5.0                    4.0
25                           5.0                5.0                    4.0
26                           4.0                4.0                    4.0
27                           5.0                5.0                    4.0
28                           5.0                5.0                    5.0
29                           4.0                5.0                    4.0
...                          ...                ...                    ...
27749                        4.0                4.5                    4.0
27750                        5.0                5.0                    5.0
27751                        4.5                5.0                    4.0
27752                        5.0                4.5                    4.5
27753                        5.0                5.0                    5.0
27754                        2.5                3.0                    2.0
27755                        5.0                5.0                    5.0
27756                        4.5                4.5                    4.0
27757                        5.0                5.0                    5.0
27758                        5.0                4.0                    3.5
27759                        5.0                5.0                    4.5
27760                        4.0                4.0                    4.0
27761                        4.0                4.0                    4.0
27762                        3.0                3.0                    2.0
27763                        3.0                3.5                    1.5
27764                        3.0                4.5                    2.0
27765                        4.5                4.5                    3.0
27766                        1.0                3.5                    3.0
27767                        4.0                3.5                    3.5
27768                        3.5                1.5                    2.0
27769                        1.5                3.5                    1.0
27770                        3.5                3.5                    3.0
27771                        5.0                5.0                    5.0
27772                        5.0                4.0                    4.0
27773                        2.5                3.5                    3.0
27774                        4.0                4.5                    4.0
27775                        5.0                4.5                    4.0
27776                        4.0                4.0                    4.0
27777                        5.0                4.0                    4.0
27778                        5.0                5.0                    5.0

      helpful_count
0               498
1                 1
2                 0
3                 0
4                 0
5                 1
6                 2
7                 0
8                 3
9                 0
10                0
11                1
12                0
13                0
14                2
15                0
16                0
17                0
18                8
19                1
20                0
21                0
22                1
23                0
24                0
25                0
26                1
27                2
28                0
29                0
...             ...
27749             0
27750             1
27751             1
27752             1
27753             1
27754             2
27755             1
27756             0
27757             1
27758             0
27759             1
27760             0
27761             0
27762             1
27763             2
27764             0
27765             0
27766             0
27767             0
27768             0
27769             1
27770             1
27771             0
27772             0
27773             1
27774             0
27775             2
27776             0
27777             1
27778             0

[27779 rows x 14 columns]

### Plot the distribution of reviewers who are current and former employees
- Hint: A Seaborn factorplot will work nicely here

### Plot the distributions of reviews for each company (current and former employees) and their overall ratings
- Hint: A Seaborn factorplot will work nicely here

# Lessons Learned
- Enter anything below you want us to know about the test